* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VT323', monospace;
    font-size: 62.5%;
}

.app-container {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 5px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: rgb(0, 0, 0);
}

/************************* Progress Bar Part ************************/

 .progress-bar-container{
    grid-column: 4/8;
    grid-row: 5/6;
    justify-content: center;
    align-self: end;
    width: 100%;
}

.progress{
    border-radius: 30px;
    background-color: rgb(90, 90, 90);
}

.progress-bar{
    height:15px;
    border-radius: 30px;
    transition: .4s linear;
    transition-property: width, background-color;
}

.progress-moved .progress-bar{
    animation: progress 7s infinite;
}

@keyframes progress{
    0%{
        width:0%;
        background: rgb(32, 209, 112);
    }
    100%{
        width:100%;
        background:rgb(1, 253, 115);
    }
}

.transmission-message{
    grid-column: 4/8;
    grid-row: 6/7;
    display: flex;
    justify-content: center;
    align-content:top;
    font-size: 4rem;
    color: rgb(32, 209, 112); 
} 

 /************************* Signal Part **********************/

 .signal-detected{
    grid-column: 1/7;
    grid-row: 10/-1;
    align-items:center;
    justify-content: left;
    display: flex;
}

.signal{
    color: rgb(2, 233, 106);
    font-size: 2rem;
}

.pulse{
    color: rgb(2, 233, 106);
    font-size: 1rem;
    animation: pulse 1.3s linear infinite;
}

 @keyframes pulse {
    0%{
        transform: scale(1.07);
    }
    70%{
        transform: scale(1);

    }
    100%{
        transform: scale(1);
    }
}   

 /************************* Media Queries **********************/

@media screen and (max-width:1200px){
    *{
        font-size: 40%;
    }
    .progress-bar-container{
        grid-column: 3/9;
        grid-row: 5/6;
    }
}
